.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  padding: 16px 32px;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--cor-p5);
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.button:hover {
  background: #ffbf00;
}

.uppercase {
  text-transform: uppercase;
}

.secundario {
  background: var(--cor-g2);
  color: var(--cor-g10);
}
.secundario:hover {
  background: var(--cor-g3);
  color: var(--cor-g10);
}
