.parceiros {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.parceiros h2 {
  margin-bottom: 4rem;
}

.parceiros-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  box-shadow: inset 0 -3rem var(--cor-g11);
}

.parceiros-logo li {
  padding: 32px;
  border-left: 2px solid var(--cor-g8);
  display: flex;
}
.parceiros-logo img {
  margin: auto;
  max-width: 140px;
}

.parceiros-logo li:first-child,
li:nth-child(5) {
  border-left: none;
}
.parceiros-logo li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-g8);
}

@media (max-width: 800px) {
  .parceiros-logo {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .parceiros-logo li:first-child,
  li:nth-child(5) {
    border-left: none;
  }
  .parceiros-logo li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-g8);
  }
  .parceiros-logo li:nth-child(odd) {
    border-left: none;
  }
}

@media (max-width: 450px) {
  .parceiros {
    padding: 40px 0;
  }
  .parceiros-logo img {
    padding: 0;
    max-width: 80px;
  }
  .parceiros-logo li {
    padding: 20px;
  }
}
